<div class="container">
	<div class="col-sm-4 col-sm-offset-4">
		<img src="public/media/logo.png" width="100%" alt="">
	</div>
	<div class="col-sm-12 text-center">
		<h3>Lo que ayuda a las personas, ayuda a las empresas</h3>
		<p>
			Esta es la sólida base de nuestra filosofía.
		</p>
	</div>

	<div class="col-sm-12">
		<br>
		<br>
		<br>
	</div>

	<div class="col-sm-12">
		<div class="col-sm-4 item-bul">
			<i class="ion-ios-checkmark-outline"></i>
			<h4>Ser coaches</h4>
			<p>
				Ser coaches es una filosofía de vida. Es nuestra manera de sentir, pensar y vivir, que aplicamos a cada una de nuestras actuaciones profesionales. Queremos trasmitírtelo y compartirlo contigo.
			</p>
		</div>
		<div class="col-sm-4 item-bul">
			<i class="ion-ios-checkmark-outline"></i>
			<h4>Visión</h4>
			<p>
				Compartimos una visión común: estamos enamorados de nuestra profesión. Por eso queremos ofrecer todo este potencial a las personas que trabajan en las empresas y, con el objetivo de contribuir a que sus vidas sean más plenas, acompañarles en el crecimiento profesional.
			</p>
		</div>
		<div class="col-sm-4 item-bul">
			<i class="ion-ios-checkmark-outline"></i>
			<h4>Crecimiento</h4>
			<p>
				Creemos que el crecimiento profesional sólo es completo cuando se trabaja la base del individuo y sus creencias nucleares. Estamos junto a ti y tu organización para aunar esfuerzos, porque nos apasiona ofrecer a los profesionales una amplia variedad de perspectivas.
			</p>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-4 item-bul">
			<i class="ion-ios-checkmark-outline"></i>
			<h4>Experiencia</h4>
			<p>
				Acumulamos experiencia porque hemos trabajado en numerosas empresas y porque somos empresa. Procedemos del sector publico y privado: Pymes, multinacionales y negocios estratégicos: banca, telecomunicaciones y gran consumo. Cargos diferentes, departamentos diversos y distintas responsabilidades. Conocemos de primera mano lo que se vive y sucede dentro de las organizaciones.
			</p>
		</div>
		<div class="col-sm-4 item-bul">
			<i class="ion-ios-checkmark-outline"></i>
			<h4>Valor Añadido</h4>
			<p>
				Nuestro valor añadido se amplia, además, por la especial característica de haber nacido en tres décadas consecutivas: los años 50, 60 y 70. Cada uno de los tres integrantes del equipo representamos a una generación diferente con sus paradigmas, símbolos, historias, cambios, evolución y revolución en todos sus ámbitos.
			</p>
		</div>
		<div class="col-sm-4 item-bul">
			<i class="ion-ios-checkmark-outline"></i>
			<h4>Riqueza Interior</h4>
			<p>
				Compartimos lo que es FUNDAMENTAL para nosotros: la riqueza de los Valores, transmitidos de generación en generación. Los mismos que nos han hecho formar este equipo como contribución a la necesidad imperiosa de recuperarlos, desarrollarlos y consolidarlos con nuestro trabajo en las empresas, cuando compartimos jornadas CON LAS PERSONAS.
			</p>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-4 item-bul">
			<i class="ion-ios-checkmark-outline"></i>
			<h4>Amor Inteligente</h4>
			<p>
				Creemos en las personas y en los Valores Humanos como espina dorsal de un desempeño profesional brillante y de éxito verdadero. Estamos comprometidos con el Amor Inteligente -actitud y comportamiento virtuosos-, generador del contexto más favorable y enriquecedor para el pleno desarrollo del talento. Nuestro propósito es facilitar que tú y tu equipo traigáis a la superficie todo el potencial que late en vuestro interior.
			</p>
		</div>
		<div class="col-sm-4 item-bul">
			<i class="ion-ios-checkmark-outline"></i>
			<h4>Potencial</h4>
			<p>
				Hemos adquirido el profundo compromiso de descubrir el potencial en nuestros clientes y de fomentar su Riqueza Interior, ese bien intangible y tan preciado que, una vez desarrollado, permanece en el tiempo, más allá de los ciclos económicos y circunstancias vitales que atravesemos como profesionales.
			</p>
		</div>
		<div class="col-sm-4 item-bul">
			<i class="ion-ios-checkmark-outline"></i>
			<h4>Valores Humanos</h4>
			<p>
				Llevamos debajo de la piel y vivimos día a día, Valores como la lealtad, la justicia, la humildad, la responsabilidad, el coraje, la confianza, la aceptación, la generosidad, la honestidad, la honradez, la coherencia, la libertad, el compromiso y la paciencia.
			</p>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-4 col-sm-offset-4 item-bul">
			<i class="ion-ios-checkmark-outline"></i>
			<h4>Liderazgo Ejemplar</h4>
			<p>
				Cuando incorporamos a nuestro quehacer diario metodologías, actitudes, valores y comportamientos ejemplares, desarrollamos un estilo de liderazgo que transmite la confianza y la solidez que todos demandamos para trabajar de forma eficaz.
			</p>
		</div>
	</div>


</div>