.view.ng-enter,
.view.ng-leave {
    -webkit-transition: all 1s cubic-bezier(.55,0,.1,1);
    transition: all 1s cubic-bezier(.55,0,.1,1);
}
.view.ng-enter {
    top: -100%;
}
.view.ng-enter-active {
    top: 0px;
}
.view.ng-leave {
    top: 0px;
}
.view.ng-leave-active {
    top: 100%;
}
@media (max-width: 767px) {
    .view{
        top: 0px;
    }
    .view.ng-enter {
        top: -100%;
    }
    .view.ng-enter-active {
        top: 0px;
    }
    .view.ng-leave {
        top: 0px;
    }
    .view.ng-leave-active {
        top: 100%;
    }
}
